<div class="container">
    <h1 style="text-align:center;">Appearance</h1>
        <div class="row">
            <div class="col-6">
                <%= render partial: 'dashboard/appearance_form' %>
            </div>
            <div class="col-6">
                <%= render partial: 'dashboard/preview' %>
            </div>
    </div>
</div>