<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="container">
  <div class="row mt-5">
    <%= render partial: "analytics/page_views" %>
    <%= render partial: "analytics/device_views" %>
  </div>
</div>
